* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.loja{
 font: #000000;
 font-size: 48px;
 display: inline-block;
 margin: 0px 20px 0px 0px ;
 font-weight: 600;
 
}
.coracao{
  height: 50px;
  width: 50px;
  display: inline-block;

}
  .menu {
  display: flex;
  gap: 20px;
  margin: 40px 0;
}

.menu a{
  background-color: rgb(150, 135, 233);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #000000;
  font-weight: 500;

}

.busca{
  font-size: 20px;
  font-weight: 500;
  
}

button{
  background-color: aquamarine;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 20px;

}

.faixa {
  background-image: url(./img/Fundo.jpg);
  width: 100%;
  min-height: 250px;

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    

  text-align: center;
  padding: 40px;
}

.faixa h2{
 color: aliceblue;
 font-size: 32px;
 font-weight: 600;
 margin-top: 20px;
 margin: 0;
 max-width: 500px;
 margin-bottom: 20px;
}

.faixa p{

  color: antiquewhite;
  font-size: 20px;
  font-weight:200;
  margin-top: 30px; 
  margin: 0;
  max-width: 600px;

}

.sobre {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
 
}

.sobre h2{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 50px;

}
.sobre p{
  font-size: 24px;
  font-weight: 200;
  width: 500px;

}
.links-footer{
  margin-top: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 60px 0;

}

.links-footer a{
  background-color: rgb(150, 135, 233);
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 200px;

}





