* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
}


html {
  scroll-behavior: smooth;
}

section {
  display: block; /* ou simplesmente remova essa linha */
}




.loja{
 font: #000000;
 font-size: 48px;
 display: inline-block;
 margin: 0px 20px 0px 0px ;
 font-weight: 600;
 
}
.coracao{
  height: 50px;
  width: 50px;
  display: inline-block;

}
.menu{

  margin-top: 100px;
  margin-bottom: 100px;

}
.menu a{
  background-color: rgb(150, 135, 233);
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #000000;
  font-weight: 500;

}
.busca{
  font-size: 20px;
  font-weight: 500;
  
}
button{
  background-color: aquamarine;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 20px;

}

.faixa   {
  background-image: url(./img/Fundo.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  display: inline-block;
  

}

.faixa h2{
 color: aliceblue;
 font-size: 24px;
 font-weight: 600;
 margin-top: 20px;
 margin-left: 120px;

}
.faixa p{

  color: antiquewhite;
  font-size: 24px;
  font-weight:200;
  margin-top: 30px; 
  margin-left: 100px;
  width: 400px;

}
.sobre{
  display: inline-block;
  margin-top: 80px;
  text-align: center;
  margin-left: 500px;
 
}

.sobre h2{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 50px;

  
}
.sobre p{
  font-size: 24px;
  font-weight: 200;
  width: 500px;

}
.links-footer{
  margin-top: 100px;
  margin-left: 50px;

}

.links-footer a{
  background-color: rgb(150, 135, 233);
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 200px;

}





